server:
  hub:
    addr: "tcp://0.0.0.0:24160"
  restful:
    addr: "0.0.0.0:24162"
    base_path: "/api"
    base_path_callback: "/callback"
session:
  expiration: 30
storage:
  db:
    host: "localhost"
    port: 3306
    database: "perf_data"
    user: "admin"
    password: "123456"
  file_server:
    endpoint: "localhost:9000"
    access_key: "cDoXKjZh2YJldhpTHoED"
    secret_key: "jHXn5JDCRAVRLM1LQabigy9watpFQviyIPWC5myf"
    useSSL: false
  file:
    path: "/tmp"
cache:
  host: "localhost"
  port: 6379
  index: 0