server:
  hub:
    addr: "tcp://0.0.0.0:24160"
  restful:
    addr: "0.0.0.0:24162"
    base_path: "/api"
    base_path_callback: "/callback"
session:
  expiration: 30
logging:
  redirect: "stdout"
  level: "debug"
  output: "/tmp/syspulse_server.log"
  maxAge: 14
  maxSize: 10
  maxBackups: 3
storage:
  db:
    host: "localhost"
    port: 3306
    database: "syspulse"
    user: "syspulse"
    password: "123qweASD"
  graph_db:
    endpoints:
      - "http://localhost:8529"
    user: "root"
    password: "123qweASD"
    db_name: "insight"
  file_server:
    endpoint: "localhost:9001"
    access_key: "2Y43IaoIbhV8ik0qjAkz"
    secret_key: "qlvFSXYRMD4iu2cvBlVBhdeDwOUJbyMFyJGbudJS"
    bucket: "syspulse"
    useSSL: false
  file:
    path: "/tmp"
cache:
  host: "localhost"
  port: 6379
  index: 0
trigger_cfg: "/workspace/SysPulse/server/trigger.yaml"