identity: "dev.env"
restful:
  addr: "0.0.0.0:24161"
  base_path: "/api"
server:
  hub:
    host: "localhost"
    port: 24160
  restful:
    host: "localhost"
    port: 24162
    bash_path: "/callback"
heartbeat:
  host: "localhost"
  port: 24164
  bash_path: "/api"
order:
  listening_addr: ""
monitor:
  enable: true
  frequency:
    cfg_host: 120
    cfg_cpu: 120
    cfg_interface: 120
    rt_proc: 60
    rt_net_conn: 60
    perf_cpu: 3
    perf_load: 3
    perf_memory: 3
    perf_disk: 3
    perf_interface: 3
    perf_filesystem: 120
    